# macOS
.DS_Store
app/.DS_Store

# Python cache files
__pycache__/
app/pycache/
__pycache__

# Virtual environment
venv/

# Other common directories to ignore
*.log
*.egg-info/
dist/
build/

# IDE-specific files
*.pyc
*.pyo
*.project
*.settings/
*.tmproj
*.idea/

