.DS_Store
app/.DS_Store
app/__pycache__/routes.cpython-311.pyc
venv/lib/python3.11/site-packages/flask/views.py
venv/lib/python3.11/site-packages/torch/_deploy.py
venv/lib/python3.11/site-packages/torch/_guards.py
venv/lib/python3.11/site-packages/torch/_jit_internal.py
venv/lib/python3.11/site-packages/torch/_linalg_utils.py
venv/lib/python3.11/site-packages/torch/_lobpcg.py
venv/lib/python3.11/site-packages/torch/_lowrank.py
venv/lib/python3.11/site-packages/torch/_meta_registrations.py
venv/lib/python3.11/site-packages/torch/_namedtensor_internals.py
venv/lib/python3.11/site-packages/torch/_ops.py
venv/lib/python3.11/site-packages/torch/_python_dispatcher.py
venv/lib/python3.11/site-packages/torch/_sources.py
venv/lib/python3.11/site-packages/torch/_storage_docs.py
venv/lib/python3.11/site-packages/torch/_tensor_docs.py
# Python cache files
__pycache__/

# Virtual environment
venv/

# Other common directories to ignore
*.log
*.egg-info/
dist/
build/

# IDE-specific files
*.pyc
*.pyo
*.project
*.settings/
*.tmproj
*.idea/

.DS_Store
