/* base.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(40,52,139);
  padding: 10px;
  display: flex;
  align-items: center;
}

/* Style for the logo image */
.logo {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-right: 10px;
}
nav{
  height: 86.73px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.flashes {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.flash-message {
  background-color: #ffc107;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
}

#footer-text {
  font-size: 14px;
}

nav ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: none;
  display: flex;
  justify-content: center;

}

footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Additional styles can be added as needed */
