body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  padding: 20px;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.login-box {
  display: flex;
  gap: 10px;
}

.comment-list {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 20px;
}

.filter-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
}

.export-button {
  background-color: rgb(40, 52, 139);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.export-button:hover {
  background-color: rgb(40, 52, 139);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: rgb(40, 52, 139);
  color: white;
}

/* Icon for Export CSV button */
.fas {
  margin-right: 5px;
}

.view-button {
  background-color: rgb(40, 52, 139);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
}

.view-button:hover {
  background-color: rgb(40, 100, 400);
}

/* For D3 enhancement features */

/* Comment column */
.comment-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  vertical-align: middle;
}

/* Cell under the Comment column */
.comment-list td:nth-child(2) {
  position: relative;
  padding-right: 90px; /* Accommodate the button and prevent text overlap */
}

/* Read Details button */
.read-details-btn {
  background-color: rgb(40, 52, 139);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

.read-details-btn:hover {
  background-color: rgb(40, 100, 400);
}

/* Modal (pop-up window) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header,
.modal-body,
.modal-footer {
  margin-bottom: 10px;
}

.modal-header {
  font-weight: bold;
}

.modal-body {
  word-wrap: break-word;
}

.modal-content {
  width: 40%;
}

/* Read & Close button in Modal */
.read-close-btn {
  background-color: rgb(40, 52, 139);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  float: right;
}

.read-close-btn:hover {
  background-color: rgb(40, 100, 400);
}
