/* dashboard.css */

/* Apply basic styles to the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Style the content container */
.content-container {
  display: flex;
  padding: 20px;
}

/* Style the navigation section */
.navigation {
  width: 20%;
  background-color: #333;
  color: white;
}

/* Style the main content section */
.main-content {
  width: 80%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the top section */
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Style the user info section */
.userInfo {
  text-align: right;
}

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style table header cells */
.table th {
  background-color: rgb(40,52,139);
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Style table data cells */
.table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the footer */
footer {
  margin-top: 20px;
  text-align: center;
  color: #888;
}

footer p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

nav ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: none;
  display: flex;
  justify-content: center;

}
