{% extends "base.html" %} {% block title %}Assign Workload{% endblock %} {%
block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/base.css') }}"
/>
<link 
rel="stylesheet" 
href="{{ url_for('static', filename='css/view_workload.css') }}"
/>
<div class="container mt-5">
  <!-- Workload Assignment Section -->
  <h3>Workload Assignment [HoS / HoDs / Admin]</h3>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <label for="contractHour">Enter Contract Hour:</label>
        <input type="text" id="contractHour">
        <button id="submitContractHour">Submit</button>
      </div>
    </div>

  <div class="assignmentContainer">
  <form method="POST" action="/assign">
    <div class="row mt-2 assignmentRow">
            <div class="col">
            <label for="category" class="form-label">Category</label>
                <select id="category" class="form-select" name="category" onchange="updateTaskType()">
                    <option value="Service">Service</option>
                    <option value="Teaching">Teaching</option>
                    <option value="Research">Research</option>
                    <option value="Leave">Leave</option>
                </select>
            <br>
            </div>
          <div class="col">
            <label for="taskType" class="form-label">Task Type</label>
            <select class="form-select" id="taskType" name="taskType">
    {#          {% for task in ["Uni Coordination", "Project Supervision",#}
    {#          "Administration"] %}#}
    {#          <option value="{{ task }}">{{ task }}</option>#}
    {#          {% endfor %}#}
            </select>
          </div>
          <div class="col">
            <label for="department" class="form-label">Department</label>
            <select class="form-select" id="department"  name="department">
              {% for dept in ["CSSE", "M&S", "Physics"] %}
              <option value="{{ dept }}">{{ dept }}</option>
              {% endfor %}
              <!--
              For MySQL data fetching:
              {% for dept in departments_from_database %}
              <option value="{{ dept.id }}">{{ dept.name }}</option>
              {% endfor %}
              -->
            </select>
          </div>
        <div class="col">
            <label for="staffId" class="form-label">Staff Id</label>
            <input type="text" class="form-control" id="staffId"  name="staffId" onblur="updatePointDisplay()"/>
            <small class="form-text text-danger" style="display: none"
              >Invalid input</small
            >
            <br>
        </div>
          <div class="col">
            <label for="explanation" class="form-label">Explanation</label>
            <input type="text" class="form-control" id="explanation" name="explanation" required />
            <small class="form-text text-danger" style="display: none"
              >Invalid input</small
            >
          </div>
        <div class="col">
            <label for="unitCode" class="form-label">Unit Code</label>
            <input type="text" class="form-control" id="unitCode" name="unitCode" />
                <small class="form-text text-danger" style="display: none"
                  >Invalid input</small
            >
        </div>
          <div class="col">
            <label for="assignedHours" class="form-label">Assigned Hours</label>
            <input type="text" class="form-control" id="assignedHours"  name="assignedHours" onblur="updatePointDisplay()"/>
            <small class="form-text text-danger" style="display: none"
              >Invalid input</small
            >
          </div>
          <div class="col">
            <label for="workPoint" class="form-label">Work Point</label>
            <input type="text" class="form-control" id="workPoint", name="workPoint" />
                <small class="form-text text-danger" style="display: none"
                  >Invalid input</small
            >
          </div>
            <div class="col">
                <label for="submit" class="form-label"></label>
               <button type="submit" class="btn btn-primary me-2">Assign</button>
            </div>
         </div>

  </form>
      <button
      class="btn btn-secondary mt-3 d-grid gap-2 col-6 mx-auto"
      onclick="addAssignmentRow()"
    >
      Add Assignment
    </button>
  </div>

  <!-- File Upload Section -->
  <h3 class="mt-5">File Upload [HoS / HoDs / Admin]</h3>
  <div class="uploadContainer">
    <div class="row mt-2 uploadRow">
      <div class="col-2">
        <label class="form-label">Spreadsheet No.</label>
        Spreadsheet 1
      </div>
      <div class="col-4">
        <label for="uploadFile" class="form-label">Upload File</label>
        <input
          type="file"
          class="form-control"
          id="uploadFile"
          accept=".xlsx, .xls, .csv, .tsv"
        />
        <small class="form-text text-danger" style="display: none"
          >Invalid file type</small
        >
      </div>
      <div class="col d-flex align-items-end">
        <button class="btn btn-primary me-2">Upload</button>
      </div>
    </div>
    <button
      class="btn btn-secondary mt-3 d-grid gap-2 col-6 mx-auto"
      onclick="addUploadRow()"
    >
      Add File
    </button>
  </div>

  <!-- Approval of Uploaded Assignment Section -->
  <h3 class="mt-5">[TBC] Approval of Uploaded Assignment [HoS only]</h3>
  <div class="approvalContainer">
    {% for spreadsheet in ["Spreadsheet 1", "Spreadsheet 2", "Spreadsheet 3"] %}
    <div class="row mt-2 approvalRow">
      <div class="col-2">{{ spreadsheet }}</div>
      <div class="col-1">
        <button class="btn btn-primary">Download</button>
      </div>
      <div class="col">
        <button class="btn btn-success">Approve</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
    function openModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
    }

    function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }

    document.getElementById("submitContractHour").addEventListener("click", function() {
      var contractHourInput = document.getElementById("contractHour");
      var contractHour = parseFloat(contractHourInput.value);

      if (!isNaN(contractHour)) {
      var assignedHour = parseFloat(document.getElementById("assignedHours").value);
      document.getElementById("workPoint").textContent = assignedHour / contractHour;
      document.getElementById("workPoint").value = assignedHour / contractHour;

        closeModal();
      } else {
        alert("Please enter a valid contract hour.");
      }
    });

    function updatePointDisplay() {
        var inputText = document.getElementById("staffId").value;
        var inputText2 = document.getElementById("assignedHours").value;

        if (inputText != "" && inputText2 != "") {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/getpoint", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);

                    if (response.hasOwnProperty("contract_hour")) {
                        var contractHour = parseFloat(response.contract_hour);
                        var assignedHour = parseFloat(inputText2);
                        document.getElementById("workPoint").textContent = assignedHour / contractHour;

                    } else {
                        {#var errorDiv = document.getElementById("errorDiv");#}
                        {#errorDiv.textContent = "User not found."; // #}
                        {#console.error("User not found.");#}
                        {#errorDiv.style.display = "block";
                        {#document.getElementById("workPoint").textContent = "";#}
                        openModal();
                    }
                } else {
                    console.error("Error: " + xhr.status);
                }
            };

            var data = "staffId=" + encodeURIComponent(inputText);
            xhr.send(data);
        }
    }

    function updateTaskType() {
        var category = document.getElementById("category").value;
        var taskTypeSelect = document.getElementById("taskType");

        var taskTypes = {
            Service: ["ADMIN", "GA", "SDS"],
            Teaching: ["CWS", "TEACH", "UDEV"],
            Research: ["HDR", "ORES", "RES-MGMT", "RESERV"],
            Leave: ["LSL", "PL", "SBL"]
        };

        taskTypeSelect.innerHTML = '';

        taskTypes[category].forEach(function(task) {
            addOption(taskTypeSelect, task, task);
        });
    }

    function addOption(select, text, value) {
        var option = document.createElement("option");
        option.text = text;
        option.value = value;
        select.appendChild(option);
    }

    window.onload = function() {
        document.getElementById("category").value = "Service";

        updateTaskType();
    };

  let asgNumber = 1;

  function addAssignmentRow() {
    // Increment the assignment number
    asgNumber += 1;

    // Define the new row's HTML content
    let newRowHTML = `
  <form method="POST" action="/assign">
    <div class="row mt-2 assignmentRow">
            <div class="col">
                <select id="category" class="form-select" name="category" onchange="updateTaskType()">
                    <option value="Service">Service</option>
                    <option value="Teaching">Teaching</option>
                    <option value="Research">Research</option>
                    <option value="Leave">Leave</option>
                </select>
            <br>
            </div>
          <div class="col">
            <select class="form-select" id="taskType" name="taskType">
    {#          {% for task in ["Uni Coordination", "Project Supervision",#}
    {#          "Administration"] %}#}
    {#          <option value="{{ task }}">{{ task }}</option>#}
    {#          {% endfor %}#}
            </select>
          </div>
          <div class="col">
            <select class="form-select" id="department"  name="department">
              {% for dept in ["CSSE", "M&S", "Physics"] %}
              <option value="{{ dept }}">{{ dept }}</option>
              {% endfor %}
            </select>
          </div>
        <div class="col">
            <input type="text" class="form-control" id="staffId"  name="staffId" onblur="updatePointDisplay()"/>
            <small class="form-text text-danger" style="display: none"
              >Invalid input</small
            >
            <br>
        </div>
          <div class="col">
            <input type="text" class="form-control" id="explanation" name="explanation" required />
            <small class="form-text text-danger" style="display: none"
              >Invalid input</small
            >
          </div>
        <div class="col">
            <input type="text" class="form-control" id="unitCode" name="unitCode" />
                <small class="form-text text-danger" style="display: none"
                  >Invalid input</small
            >
        </div>
          <div class="col">
            <input type="text" class="form-control" id="assignedHours"  name="assignedHours" onblur="updatePointDisplay()"/>
            <small class="form-text text-danger" style="display: none"
              >Invalid input</small
            >
          </div>
          <div class="col">
            <input type="text" class="form-control" id="workPoint", name="workPoint" />
                <small class="form-text text-danger" style="display: none"
                  >Invalid input</small
            >
          </div>
            <div class="col d-flex align-items-end">
              <button type="submit" class="btn btn-primary me-2">Assign</button>
              <button class="btn btn-danger me-2" onclick="removeAsgRow(this)">
                Remove
              </button>
            </div>
        </div>
      </form>
    `;

    // Get the last assignment row
    let assignmentRows = document.querySelectorAll(".assignmentRow");
    let lastRow = assignmentRows[assignmentRows.length - 1];

    // Add the new row below the last row
    lastRow.insertAdjacentHTML("afterend", newRowHTML);
  }

  function removeAsgRow(btnElement) {
    asgNumber -= 1;
    let row = btnElement.closest(".row");
    row.remove();
  }

  let sprNumber = 1;

  function addUploadRow() {
    // Increment the spreadsheet number
    sprNumber += 1;

    // Define the new row's HTML content
    let newRowHTML = `
      <div class="row mt-2 uploadRow">
        <div class="col-2">
          Spreadsheet ${sprNumber}
        </div>
        <div class="col-4">
          <input type="file" class="form-control" accept=".xlsx, .xls, .csv, .tsv">
        </div>
        <div class="col d-flex align-items-end">
          <button class="btn btn-primary me-2">Upload</button>
          <button class="btn btn-danger me-2" onclick="removeSprRow(this)">
            Remove
          </button>
        </div>
      </div>
    `;

    // Get the last upload row
    let uploadRows = document.querySelectorAll(".uploadRow");
    let lastRow = uploadRows[uploadRows.length - 1];

    // Add the new row below the last row
    lastRow.insertAdjacentHTML("afterend", newRowHTML);
  }

  function removeSprRow(btnElement) {
    sprNumber -= 1;
    let row = btnElement.closest(".row");
    row.remove();
  }
</script>

{% endblock %}
