{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
    <style>
        nav ul li:last-child a {
            padding: 2px 10px;
        }

        footer p {
            color: #000;
        }
    </style>
    <div class="content-container">
        <div class="main-content">
            <div class="top">
                <div class="left">
                    <h1>Hello, {{ username }}</h1>
                    <p>Following is Your Workload summary</p>
                </div>
            </div>
            <div class="bottomContent">
                <table class="table">
                    <tr>
                        <th class="sortable">Category <i class="fas fa-sort"></i></th>
                        <th class="sortable">Task Type <i class="fas fa-sort"></i></th>
                        <th class="sortable">Department <i class="fas fa-sort"></i></th>
                        <th class="sortable">Unit Code <i class="fas fa-sort"></i></th>
                        <th class="sortable">Staff Number <i class="fas fa-sort"></i></th>
                        <th class="sortable">Explanation <i class="fas fa-sort"></i></th>
                        <th class="sortable">Assigned Hours <i class="fas fa-sort"></i></th>
                        <th class="sortable">Workload Point <i class="fas fa-sort"></i></th>
                    </tr>
                    {% for workload in workloads %}
                        <tr>
                            <td>{{ workload.work.work_category }}</td>
                            <td>{{ workload.work.work_type }}</td>
                            <td>
                                {% if workload.work.work_type in ['LSL', 'PL', 'SBL'] %}
                                    {{workload.user.department.dept_name }}
                                {% else %}
                                    {{workload.work.department.dept_name }}
                                {% endif %}
                            </td>
                            <td>{{ workload.work.unit_code }}</td>
                            <td>{{ workload.user.username }}</td>
                            <td>{{ workload.work.work_explanation }}</td>
                            <td>{{ workload.hours_allocated }}</td>
                            <td>{{ workload.workload_point }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="container1" style="height: 300px; margin-top: 30px;"></div>
            <div id="container2" style="height: 350px; margin-top: 30px; width: 48%;display: inline-block;"></div>
            <div id="container3" style="height: 350px; margin-top: 30px; width: 48%;display: inline-block;"></div>
        </div>
    </div>
    </html>
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <script>
        var chartDom = document.getElementById('container1');
        var myChart = echarts.init(chartDom);

        var departments = {{ departments|safe }};
        var departments_value = {{ departments_value|safe }};

        var work_type_data = {{ work_type_data|safe }};
        var work_category_data = {{ work_category_data|safe }};

        var option;

        option = {
            title: {
                text: 'Department',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['Hours']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {}
            },
            xAxis: {
                type: 'category',
                data: departments
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: departments_value,
                    type: 'bar',
                    barWidth: 100,
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(180,180,180,0.2)'
                    }
                }
            ]
        };

        option && myChart.setOption(option);


        var chartDom = document.getElementById('container3');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: 'Task Type',
                subtext: '',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: 'Hours',
                    type: 'pie',
                    radius: '50%',
                    data: work_type_data,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        },
                        normal: {
                            label: {
                                show: true,
                                //formatter: '{b} : {c} ({d}%)'
                                formatter: '{d}%'
                            },
                            labelLine: {show: true}
                        }
                    }
                }
            ]
        };

        option && myChart.setOption(option);

        var chartDom = document.getElementById('container2');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: 'Category',
                subtext: '',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: 'Hours',
                    type: 'pie',
                    radius: '50%',
                    data: work_category_data,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        },
                        normal: {
                            label: {
                                show: true,
                                //formatter: '{b} : {c} ({d}%)'
                                formatter: '{d}%'
                            },
                            labelLine: {show: true}
                        }
                    }
                }
            ]
        };

        option && myChart.setOption(option);

    </script>
{% endblock %}