{% extends "base.html" %}
{% block title %} Sign Up | My Dating Website {% endblock %}
{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/base.css') }}"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_allocation_detail.css') }}" />
{% endblock %}
{% block content %}
<div class="container">
  <h1>Edit Workload</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <thead>
        <tr>
          <th scope="col">Department</th>
          <th scope="col">Staff</th>
          <th scope="col">Task</th>
          <th scope="col">Assigned Hours</th>
          <th scope="col">Adjusted Hours</th>
        </tr>
      </thead>
    </thead>
    <tbody>
      <tr>
        <th scope="col">
          <!-- <label for="department" class="form-label">Department</label> -->
          <select class="form-select" id="department">
            {% for dept in ["CSSE", "M&S", "Physics"] %}
            <option value="{{ dept }}">{{ dept }}</option>
            {% endfor %}
            <!-- 
                      For MySQL data fetching:
                      {% for dept in departments_from_database %}
                      <option value="{{ dept.id }}">{{ dept.name }}</option>
                      {% endfor %}
                      -->
          </select>
        </th>
        <th scope="col">
          <!-- <label for="staffName" class="form-label">Staff Name</label> -->
          <select class="form-select" id="staffName">
            <option value="Mary">Mary</option>
            <option value="Tom">Tom</option>
            <option value="John">John</option>
          </select>
        </th>
        <th scope="col">
          <!-- <label for="taskType" class="form-label">Task Type</label> -->
          <select class="form-select" id="taskType">
            {% for task in ["Uni Coordination", "Project Supervision",
            "Administration"] %}
            <option value="{{ task }}">{{ task }}</option>
            {% endfor %}
          </select>
        </th>
        <th scope="col">20</th>
        <!-- need to fetch current allocation from DB-->
        <th scope="col">
          <!-- <label for="assignedHours" class="form-label">Assigned Hours</label> -->
          <input type="text" class="form-control" id="assignedHours" />

          <!-- <small class="form-text text-danger" style="display: none"
            >Invalid input</small
          > -->
        </th>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
{% if role_name == 'HoS' or role_name == 'HoD' or role_name == 'Admin' %}
<div class="container">
  <button class="btn btn-primary me-2">Modify</button>
  <!-- <button
    class="btn btn-secondary mt-3 d-grid gap-2 col-6 mx-auto"
    onclick="addAssignmentRow()"
  >
    Add Modification
  </button> -->
</div>
{% endif %}
<div class="container">
  <div class="mb-6">
    <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <button class="btn btn-primary me-2">Send Comment</button>
</div>

<script>
  let asgNumber = 1;

  function addAssignmentRow() {
    // Increment the assignment number
    asgNumber += 1;

    // Define the new row's HTML content
    let newRowHTML = `
    <div class="row mt-2 assignmentRow">
      <div class="col-2">
        Assignment ${asgNumber}
      </div>
      <div class="col">
        <select class="form-select" id="department">
          {% for dept in ["CSSE", "M&S", "Physics"] %}
          <option value="{{ dept }}">{{ dept }}</option>
          {% endfor %}
          <!-- 
          For MySQL data fetching:
          {% for dept in departments_from_database %}
          <option value="{{ dept.id }}">{{ dept.name }}</option>
          {% endfor %}
          -->
        </select>
      </div>
      <div class="col-2">
        <select class="form-select" id="taskType">
          {% for task in ["Uni Coordination", "Project Supervision",
          "Administration"] %}
          <option value="{{ task }}">{{ task }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <input type="text" class="form-control" id="taskName" required />
        <small class="form-text text-danger" style="display: none"
          >Invalid input</small
        >
      </div>
      <div class="col">
        <select class="form-select" id="staffName">
          <option value="Mary">Mary</option>
          <option value="Tom">Tom</option>
          <option value="John">John</option>
        </select>
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          id="assignedHours"
        />
        <small class="form-text text-danger" style="display: none"
          >Invalid input</small
        >
      </div>
      <div class="col d-flex align-items-end">
        <button class="btn btn-primary me-2">Assign</button>
        <button class="btn btn-danger me-2" onclick="removeAsgRow(this)">
          Remove
        </button>
      </div>
    </div>
  `;

    // Get the last assignment row
    let assignmentRows = document.querySelectorAll(".assignmentRow");
    let lastRow = assignmentRows[assignmentRows.length - 1];

    // Add the new row below the last row
    lastRow.insertAdjacentHTML("afterend", newRowHTML);
  }

  function removeAsgRow(btnElement) {
    asgNumber -= 1;
    let row = btnElement.closest(".row");
    row.remove();
  }
</script>
{% endblock %}
