{% extends "base.html" %}
{% block title %} Workload edit allocation detail page {% endblock %}
{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_allocation_detail.css') }}"/>
    <style>
        nav ul li {
            margin-top: -4px;
        }

        #assignedHours {
            width: 90%;
        }
        input, select {
            min-width: 105px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Edit Workload</h1>
    </div>

    <div class="container">
        <form id="workload_allocation">
            <table class="table table-hover">
                <thead>
                <thead>
                <tr>
                    <th class="sortable">Category <i class="fas fa-sort"></i></th>
                    <th class="sortable">Task Type <i class="fas fa-sort"></i></th>
                    <th class="sortable">Department <i class="fas fa-sort"></i></th>
                    <th class="sortable">Unit Code <i class="fas fa-sort"></i></th>
                    <th class="sortable">Staff Number <i class="fas fa-sort"></i></th>
                    <th class="sortable">Explanation <i class="fas fa-sort"></i></th>
                    <th class="sortable">Assigned Hours <i class="fas fa-sort"></i></th>
                    <th class="sortable">Adjusted Hours <i class="fas fa-sort"></i></th>
                    <th class="sortable">Workload Point <i class="fas fa-sort"></i></th>
                    <th class="sortable">Adjusted Workload Point <i class="fas fa-sort"></i></th>
                </tr>
                </thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="col">
                        <select class="form-select" name="work_category" id="work_category">
                            {% for workload in workloads %}
                                <option value="{{ workload.work.work_category }}"
                                        data-id="{{ workload.alloc_id }}"
                                        data-workid="{{ workload.work_id }}"
                                        data-username="{{ workload.username }}"
                                        data-workexplanation="{{ workload.work.work_explanation }}"
                                        data-hoursallocated="{{ workload.hours_allocated }}"
                                        data-worktype="{{ workload.work.work_type }}"
                                        {% if data.alloc_id == workload.alloc_id %} selected {% endif %} >{{ workload.work.work_category }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th scope="col">
                        <select class="form-select" name="work_type" id="work_type"></select>
                    </th>
                    <th scope="col">
                        <select class="form-select" name="department" id="department"></select>
                    </th>
                    <th scope="col">
                        <select class="form-select" name="unit_code" id="unit_code">
                            {% for workload in workloads %}
                                <option value="{{ workload.work.unit_code }}" {% if data.UnitCode == workload.work.unit_code %} selected {% endif %}>{{ workload.work.unit_code }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th scope="col">
                        <select class="form-select" name="username" id="username"></select>
                    </th>

                    <th scope="col">
                        <select class="form-select" name="work_explanation" id="work_explanation"></select>
                    </th>

                    <th scope="col">
                        <span id="AssignedHours"></span>
                    </th>

                    <th scope="col">
                        <input type="text" style="width: auto;" class="form-control" id="AdjustedHours"
                               name="hours_allocated" value=""/>
                        <input type="hidden" name="alloc_id" id="alloc_id" value=""/>
                        <input type="hidden" name="work_id" id="work_id" value=""/>
                        <input type="hidden" name="workload_point" class="workload_point" value=""/>
                    </th>


                    <th scope="col">
                        <span id="workload_point"></span>
                    </th>

                    <th scope="col">
                        <span id="Adjusted_workload_point"></span>
                    </th>
                </tr>
                <tr></tr>
                </tbody>
            </table>
        </form>
    </div>
    {% if role_name == 'HoS' or role_name == 'HoD' or role_name == 'Admin' %}
        <div class="container">
            <button class="btn btn-primary me-2" id="modify">Edit</button>
            <!-- <button
              class="btn btn-secondary mt-3 d-grid gap-2 col-6 mx-auto"
              onclick="addAssignmentRow()"
            >
              Add Modification
            </button> -->
        </div>
    {% endif %}
    <form action="" method="post">
        <div class="container">
            <div class="mb-6">
                <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        name="comment"
                        required
                ></textarea>
            </div>
            <button class="btn btn-primary me-2 send-comment" type="button">Send Comment</button>
        </div>
    </form>

    <script src="../static/js/jquery.min.js"></script>
    <script>

        function removeAsgRow(btnElement) {
            asgNumber -= 1;
            let row = btnElement.closest(".row");
            row.remove();
        }

        $("#work_category").change(function () {
            var work_category = $(this).val();
            initData(work_category);
        })


        var work_category = $("#work_category").val();
        initData(work_category);


        $("#AdjustedHours").change(function () {
            var hours_allocated = $(this).val();

            hours_allocated = parseFloat(hours_allocated);

            var workload_point = {{ user.contract_hour }};

            workload_point = hours_allocated / workload_point
            $("#Adjusted_workload_point").html(workload_point.toFixed(2));
            $(".workload_point").val(workload_point.toFixed(2));

        })

        function initData(work_category) {
            var hours_allocated = $("#work_category option:selected").data('hoursallocated');
            $("#AssignedHours").html(hours_allocated);

            hours_allocated = parseFloat(hours_allocated);

            var workload_point = {{ user.contract_hour }};

            workload_point = hours_allocated / workload_point
            $("#workload_point").html(workload_point.toFixed(2));

            get_work_type(work_category);
            get_department();
            get_user();
            get_works();
        }

        get_work_type($("#work_category").val());

        function get_work_type(work_category) {
            var work_type = $("#work_category option:selected").data('worktype');
            $.ajax({
                type: 'post',
                url: '/get_work_type',
                data: {work_category: work_category},
                success: function (res) {
                    var html = '';
                    for (let i = 0; i < res.length; i++) {
                        if (work_type == res[i]) {
                            html += '<option value="' + res[i] + '" selected >' + res[i] + '</option>';
                        } else {
                            html += '<option value="' + res[i] + '">' + res[i] + '</option>';
                        }
                    }
                    $("#work_type").html(html);
                }
            })
        }

        get_department();

        function get_department() {
            var work_id = $("#work_category option:selected").data('workid');
            $.ajax({
                type: 'post',
                url: '/get_work',
                data: {work_id: work_id},
                success: function (rest) {
                    $.ajax({
                        type: 'post',
                        url: '/get_department',
                        data: {},
                        success: function (res) {
                            var html = '';
                            for (let i = 0; i < res.length; i++) {
                                if (rest.dept_id == res[i].dept_id) {
                                    html += '<option value="' + res[i].dept_id + '" selected>' + res[i].dept_name + '</option>';
                                } else {
                                    html += '<option value="' + res[i].dept_id + '">' + res[i].dept_name + '</option>';
                                }
                            }
                            $("#department").html(html);
                        }
                    })
                }
            })
        }

        get_user();

        function get_user() {
            var username = $("#work_category option:selected").data('username');
            $.ajax({
                type: 'post',
                url: '/get_user',
                data: {},
                success: function (res) {
                    var html = '';
                    for (let i = 0; i < res.length; i++) {
                        if (username == res[i].username) {
                            html += '<option value="' + res[i].username + '" selected>' + res[i].username + '</option>';
                        } else {
                            html += '<option value="' + res[i].username + '">' + res[i].username + '</option>';
                        }
                    }
                    $("#username").html(html);
                }
            })
        }

        get_works();

        function get_works() {
            var work_id = $("#work_category option:selected").data('workid');
            $.ajax({
                type: 'post',
                url: '/get_works',
                data: {},
                success: function (res) {
                    var html = '';
                    for (let i = 0; i < res.length; i++) {
                        if (work_id == res[i].work_id) {
                            html += '<option value="' + res[i].work_explanation + '" selected>' + res[i].work_explanation + '</option>';
                        } else {
                            html += '<option value="' + res[i].work_explanation + '">' + res[i].work_explanation + '</option>';
                        }
                    }
                    $("#work_explanation").html(html);
                }
            })
        }

        $("#modify").click(function () {
            var alloc_id = $("#work_category option:selected").data('id');
            $("#alloc_id").val(alloc_id);

            var workid = $("#work_category option:selected").data('workid');
            $("#work_id").val(workid);

            var post = $("#workload_allocation").serialize();
            var assignedHours = $("#assignedHours").val();
            if (assignedHours == "") {
                return false;
            }
            $.ajax({
                type: 'post',
                url: '/set_workload_allocation',
                data: post,
                success: function (res) {
                    alert(res.msg);
                }
            })
        })

        // save comments
        $(".send-comment").click(function (){
            var hours_allocated = $("#AssignedHours").html();
            var workload_point = $("#workload_point").html()
            var comment = $("#exampleFormControlTextarea1").val();
            if(comment == ""){
                alert("comment is required");
                return false;
            }

            var post = {
                hours_allocated: hours_allocated,
                workload_point: workload_point,
                comment: comment,
            }
            $.ajax({
                type: 'post',
                url: '/edit_allocation_detail',
                data: post,
                success: function (res) {
                    alert(res.msg);
                }
            })

        })


    </script>
{% endblock %}
