{% extends "base.html" %} {% block title %} Homepage {% endblock %} {% block
styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/base.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/homepage.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>
{% endblock %} {% block content %}
<div class="content-wrapper">
  <div class="homepage-box-container">
    <div class="title">
      <p>Hello World!</p>
    </div>

    {% if not current_user.is_authenticated %}
    <div class="login-box">
      <h3>
        <i class="fas fa-sign-in-alt"></i>
        <a href="{{ url_for('login') }}">Log In</a>
      </h3>
      <h3>
        <i class="fas fa-user-plus"></i>
        <a href="{{ url_for('signup') }}">Sign Up</a>
      </h3>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
