<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v58_36">
        <div class="v59_620">
            <div class="v59_621"></div>
        </div>
        <div class="v59_622"></div>
        <div class="v59_623"></div>
        <div class="v59_624"></div>
    </div>
    <form id="login-form" method="post">
        <!--This is a hidden input field that contains a token to prevent CSRF attacks-->
        {{ form.csrf_token }}
        <p> <!--enter username-->
            <label for="username">Username</label>
            {{ form.username(size=20, class='login-input',placeholder='Enter your username', required=True) }}<br>
            {% for error in form.username.errors %}
                <span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <P> <!--enter password-->
            <label for="password">Password</label>
            {{ form.password(size=20, class='login-input',placeholder='Enter your password', required=True) }}<br>
            {% for error in form.password.errors %}
                <span>[{{ error }}]</span>
            {% endfor %}
        </P>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class='login-btn') }}</p>
        <!-- sign up link -->
        <p> Haven't got an account? <a id="signup" href="{{ url_for('signup') }}">Sign Up Now</a></p>  
    </form>
    </div>
    <div class="v59_643">
        <!-- Additional content goes here -->
    </div>
</body>
</html>
