{% extends "base.html" %}

{% block title %}
    Sign Up | My Dating Website
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
    <div class="signup-box-container">
        <div class="signup-box">
            <form id="signup-form" method="post">
                <!--This is a hidden input field that contains a token to prevent CSRF attacks-->
                {{ form.csrf_token }}
                <h1>Sign Up</h1>
                <p> <!--enter username-->
                    <label for="username">Username</label>
                    {{ form.username(size=20, class='signup-input',placeholder='Enter your username', required=True) }}
                    {% for error in form.username.errors %}
                        <span>[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p> <!--enter email-->
                    <label for="email">Email</label>
                    {{ form.email(size=20, class='signup-input',placeholder='Enter your email', required=True) }}
                    {% for error in form.email.errors %}
                        <span>[{{ error }}]</span>
                    {% endfor %}
                </p>
                <P> <!--enter password-->
                    <label for="password">Password</label>
                    {{ form.password(size=20, class='signup-input',placeholder='Enter your password', required=True) }}
                    {% for error in form.password.errors %}
                        <span>[{{ error }}]</span>
                    {% endfor %}
                </P>
                <P> <!--confirm password-->
                    <label for="confirm_password">Confirm Password</label>
                    {{ form.confirm_password(size=20, class='signup-input',placeholder='Confirm your password', required=True) }}
                    {% for error in form.confirm_password.errors %}
                        <span>[{{ error }}]</span>
                    {% endfor %}
                </P>
                <p>{{ form.submit(class='signup-btn') }}</p>
                <!-- login link -->
                <p> Already have an account? <a id="login" href="{{ url_for('login') }}">Log In Now</a></p>  
            </form>
        </div>  
    </div>
{% endblock %}

